<section class="post-footer__media__container">
    <a class="post-footer__media__button win-button">Find me in other media</a>
    <div class="post-footer__media__menu" data-win-control="WinJS.UI.Menu">
        <button data-win-control="WinJS.UI.MenuCommand" data-win-options="{label:'Github', type:'button', onclick: Application.navigateToExternal, extraClass: 'post-footer__media__button' }"></button>
        <button data-win-control="WinJS.UI.MenuCommand" data-win-options="{label:'Gitlab', type:'button', onclick: Application.navigateToExternal, extraClass: 'post-footer__media__button' }"></button>
        <button data-win-control="WinJS.UI.MenuCommand" data-win-options="{label:'Twitter', type:'button', onclick: Application.navigateToExternal, extraClass: 'post-footer__media__button' }"></button>
    </div>
</section>