.home__content{
    padding: 1rem;
}
    .home__content--hoverable:hover {
        background-color: rgb(0, 0, 0, 0.5);
    }

    .home__content--scrollable {
        max-height: 100vh;
        overflow-y: auto;
    }

.home__entry {
    display: block;
    border: 1.5px outset #424242;
    max-width: 500px;
}
    .home__listview .win-container {
        max-width: 500px;
    }

    .home__entry:hover {
        border: 0.5px groove rgb(184, 184, 184);
        border-top: 0;
        border-left: 0;
        box-shadow: 2px 2px 10px 3.5px black;
    }

    .home__entry .entry__resume-title {
        margin: 2px;
    }

    .home__entry .entry__resume-content {
        margin: 2px;
        font-weight: 300;
        color: #d3d0ce
    }


.home__pivot-item {
    min-height: 45vh;
    max-height: 75vh;
    overflow: auto
}


@media only screen and (max-width: 420px) {
    .home__entry {
        display: block;
        border: 1.5px outset #424242;
        max-width: 300px;
    }

    .home__listview .win-container {
        max-width: 300px;
    }
    
    .home__pivot-item {
        min-height: 45vh;
        max-height: 170vh;
        overflow: auto
    }
    
} 