.application--background__default {
    background: radial-gradient(ellipse at top,  #000000, #3f3021, #ffffff38, #000000),
                radial-gradient(ellipse at bottom,  #000000, #3f3021, #ffffff38, #000000);
    background-size: 600% 600%;

    -webkit-animation: AppBackgroundGradient 40s ease-in-out infinite;
    -moz-animation: AppBackgroundGradient 40s ease-out infinite;
    -o-animation: AppBackgroundGradient 40s ease-in infinite;
    animation: AppBackgroundGradient 40s ease infinite;

}

@-webkit-keyframes AppBackgroundGradient {
    0%{background-position:45% 0%}
    50%{background-position:14% 100%}
    100%{background-position:21% 0%}
}
@-moz-keyframes AppBackgroundGradient {
    0%{background-position:45% 0%}
    50%{background-position:14% 100%}
    100%{background-position:21% 0%}
}
@-o-keyframes AppBackgroundGradient {
    0%{background-position:45% 0%}
    50%{background-position:14% 100%}
    100%{background-position:21% 0%}
}
@keyframes AppBackgroundGradient {
    0%{background-position:45% 0%}
    50%{background-position:14% 100%}
    100%{background-position:21% 0%}
}

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #292a2c; 
    border-radius: 10px;
}

.win-pivot {
    height: 100vh;
}

.back-button {
    margin-left: 10px;
}

.win-disposable .pagecontrol {
    overflow: auto;
    max-height: 95vh;
}

.post-footer__media__container {
    margin-bottom: 4rem;
}

    .post-footer__media__button.win-button {
        background-color: #4b3521;
    }

.post-footer__media__menu {
    background-color: #4b3521;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
code:hover,
.post-footer__media__menu:hover,
.app-header-title:hover,
.win-back:hover,
.post-footer__media__button.win-button:hover {
    color: teal;
}

.win-splitview.win-splitview-pane-closed.win-splitview-placementleft .win-splitview-pane {
    background-color: #4b3521;
}
.win-splitview.win-splitview-pane-opened.win-splitview-placementleft .win-splitview-pane {
    background-color: #4b3521;
}
